body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #e91313;
}

/* قسم الترحيب (Hero Section) */
.hero-section {
    background-image: url('your_background_image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(233, 107, 107, 0.5);
}

.content {
    z-index: 1;
    color: white;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #ff6347;
    color: white;
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.cta-button:hover {
    background-color: #ff4500;
}
